<template lang="pug">
  section.edit
    h1
      | edit post
    form( @submit.prevent="editPost()" )
      div
        input( type="text", name="timeStamp", id="timeStamp", placeholder="TimeStamp", v-model.trim="post.timeStamp" )
      div
        input( type="number", name="revision", id="revision", placeholder="Revision", v-model.trim="post.revision" )
      div
        input( type="text", name="author", id="author", placeholder="Author", v-model.trim="post.author" )
      div
        input( type="text", name="date", id="date", placeholder="dd.mm.yyyy", v-model.trim="post.date" )
      div
        input( type="text", name="action", id="action", placeholder="SVNAction", v-model.trim="post.action" )
      div
        input( type="text", name="version", id="version", placeholder="Version", v-model.trim="post.version" )
      div
        input( type="text", name="name", id="name", placeholder="Name", v-model.trim="post.name" )
      div
        input( type="text", name="state", id="state", placeholder="State", v-model.trim="post.state" )
      div
        input( type="text", name="bug", id="bug", placeholder="bug", v-model.trim="post.bug" )
      div
        input( type="text", name="pcr", id="pcr", placeholder="pcr", v-model.trim="post.pcr" )
      div
        button( type="submit", name="editPost" )
          | edit post
    div
      router-link( :to="{ name: 'Posts' }" )
        | go to list of posts
</template>

<script>
import PostsService from '@/services/PostsService'
export default {
  name: 'EditPostPage',
  data () {
    return {
      post: {
        timeStamp: '',
        revision: '',
        author: '',
        date: '',
        action: '',
        version: '',
        name: '',
        state: ''
      }
    }
  },
  methods: {
    async getPost () {
      const response = await PostsService.getPost({ id: this.$route.params.id })
      this.post.timeStamp = response.data.timeStamp
      this.post.revision = response.data.revision
      this.post.author = response.data.author
      this.post.date = response.data.date
      this.post.action = response.data.action
      this.post.version = response.data.version
      this.post.name = response.data.name
      this.post.state = response.data.state
      this.post.bug = response.data.bug
      this.post.pcr = response.data.pcr
    },
    async editPost () {
      if (this.post.timeStamp !== '' && this.post.revision !== '' && this.post.author !== '' && this.post.date !== '' && this.post.action !== '' && this.post.version !== '' && this.post.name !== '' && this.post.state !== '') {
        await PostsService.updatePost({
          id: this.$route.params.id,
          timeStamp: this.post.timeStamp,
          revision: this.post.revision,
          author: this.post.author,
          date: this.post.date,
          action: this.post.action,
          version: this.post.version,
          name: this.post.name,
          state: this.post.state,
          bug: this.post.bug,
          pcr: this.post.pcr
        })
        this.$router.push({ name: 'Posts' })
      }
    }
  },
  mounted () {
    this.getPost()
  }
}
</script>
