<template lang="pug">
  .container
    .row
      .col-xs-12
        h1
          | RESULTS
        h3
          | KO results
        div
          router-link( :to="{ name: 'Posts' }" )
            | Show all results

        section.panel.panel-success( v-if="posts.length" )
          .panel-heading
            | SVR
          table.table.table-striped
            tr
              th Revision
              th SVNAction
              th Name
              th State
              th Version
              th Date
              th Author
              th Bug
              th PCR
              th Action
            tr( v-for="(post, index) in posts", :key="index" )
              td {{ post.revision }}
              td {{ post.action }}
              td {{ post.name }}
              td {{ post.state }}
              td {{ post.version }}
              td {{ post.date }}
              td {{ post.author }}
              td
                input( type="text", name="bug", id="bug", placeholder="bug", v-model.trim="post.bug" )
              td
                input( type="text", name="pcr", id="pcr", placeholder="pcr", v-model.trim="post.pcr" )
              td
                button.btn.btn-success.btn-sm( type="button", @click="editBug(post._id, post.bug, post.pcr, post.name)" )
                  | edit bug/pcr
                button.btn.btn-danger.btn-sm( type="button", @click="removePost(post._id, post.name)" )
                  | delete

        section.panel.panel-danger( v-else )
          p
            | There are no results ... Lets add one now!
          div
            router-link( :to="{ name: 'Posts' }" )
              | add new result
</template>

<script>
import PostsService from '@/services/PostsService'
export default {
  name: 'KoPage',
  data () {
    return {
      posts: []
    }
  },
  methods: {
    async getKoPost () {
      const response = await PostsService.getKoPost()
      this.posts = response.data.posts
    },
    async editBug (inId, inBug, inPcr, inName) {
      console.log('inBug = > ' + inBug.length)
      console.log('inPcr = > ' + inPcr)
      if (confirm('Save: ' + inName)) {
        await PostsService.updatePost({
          id: inId,
          bug: inBug,
          pcr: inPcr
        })
        this.$router.push({ name: 'KoPosts' })
      }
    },
    async removePost (value, prName) {
      if (confirm('Delet result with ID: ' + prName)) {
        await PostsService.deletePost(value)
        this.getPosts()
      }
    }
  },
  mounted () {
    this.getKoPost()
  }
}
</script>
