<template lang="pug">
  .container
    .row
      .col-xs-12
        h1
          | Add New Post
        form
          .form-group
            input.form-control( type="text", name="timeStamp", id="timeStamp", placeholder="TimeStamp", v-model.trim="post.timeStamp" )
          .form-group
            input.form-control( type="number", name="revision", id="revision", placeholder="Revision", v-model.trim="post.revision" )
          .form-group
            input.form-control( type="text", name="author", id="author", placeholder="Author", v-model.trim="post.author" )
          .form-group
            input.form-control( type="date", name="date", id="date", placeholder="Date", v-model.trim="post.date" )
          .form-group
            input.form-control( type="text", name="action", id="action", placeholder="SVNAction", v-model.trim="post.action" )
          .form-group
            input.form-control( type="text", name="version", id="version", placeholder="Version", v-model.trim="post.version" )
          .form-group
            input.form-control( type="text", name="name", id="name", placeholder="Name", v-model.trim="post.name" )
          .form-group
            input.form-control( type="text", name="state", id="state", placeholder="State", v-model.trim="post.state" )
          .form-group
            button.btn.btn-block.btn-primary( type="button", name="addPost", id="addPost", @click="addPost()" )
              | add new post
          section
            button.btn.btn-success.btn-block( type="button", @click="goBack()" )
              | go to posts page
</template>

<script>
import PostsService from '@/services/PostsService'
export default {
  name: 'NewPostPage',
  data () {
    return {
      post: {
        timeStamp: '',
        revision: '',
        author: '',
        date: '',
        action: '',
        version: '',
        name: '',
        state: '',
        bug: '',
        pcr: ''
      }
    }
  },
  methods: {
    async addPost () {
      if (this.post.timeStamp !== '' && this.post.revision !== '' && this.post.author !== '' && this.post.date !== '' && this.post.action !== '' && this.post.version !== '' && this.post.name !== '' && this.post.state !== '') {
        await PostsService.addNewPost({
          timeStamp: this.post.timeStamp,
          revision: this.post.revision,
          author: this.post.author,
          date: this.post.date,
          action: this.post.action,
          version: this.post.version,
          name: this.post.name,
          state: this.post.state,
          bug: this.post.bug,
          pcr: this.post.pcr
        })
        this.$router.push({ name: 'Posts' })
      } else {
        alert('Empty fields!')
      }
    },
    goBack () {
      this.$router.push({ name: 'Posts' })
    }
  }
}
</script>
