<template lang="pug">
  .container
    .row
      .col-xs-12
        h1
          | RESULTS
        h3
          | All results
        div
          router-link( :to="{ name: 'KoPosts' }" )
            | Show KO results

        section.panel.panel-success( v-if="posts.length" )
          .panel-heading
            | SVR
          table.table.table-striped
            tr
              th Revision
              th SVNAction
              th Name
              th State
              th Version
              th Date
              th Author
              th Bug
              th PCR
              th Action
            tr( v-for="(post, index) in posts", :key="index" )
              td {{ post.revision }}
              td {{ post.action }}
              td {{ post.name }}
              td {{ post.state }}
              td {{ post.version }}
              td {{ post.date }}
              td {{ post.author }}
              td {{ post.bug }}
              td {{ post.pcr }}
              td
                router-link( :to="{ name: 'EditPost', params: { id: post._id } }" )
                  | edit result
                button.btn.btn-danger.btn-sm( type="button", @click="removePost(post._id)" )
                  | delete

        section.panel.panel-danger( v-else )
          p
            | There are no results ... Lets add one now!
          div
            router-link( :to="{ name: 'KoPosts' }" )
              | Show KO results
</template>

<script>
import PostsService from '@/services/PostsService'
export default {
  name: 'PostsPage',
  data () {
    return {
      posts: []
    }
  },
  methods: {
    async getPosts () {
      const response = await PostsService.fetchPosts()
      this.posts = response.data.posts
    },
    async removePost (value) {
      if (confirm('Delet result with ID: ' + value)) {
        await PostsService.deletePost(value)
        this.getPosts()
      }
    }
  },
  mounted () {
    this.getPosts()
  }
}
</script>
